SHOW ME:
<%- form_tag "/status_updates", :method => :get do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "SUBMIT" %>
<%- end %>

<table>
  <% @status_updates.each do |status_update| %>
    <tr>
      <td><%= image_tag status_update.image_url, :style => "height:48px;width:48px" %></td>
      <td><%= status_update.text %></td>
      <td><%= status_update.twitter_name %></td>
      <td><%= time_ago_in_words(status_update.post_date) %> ago</td>
    </tr>
  <% end %>
</table>

<br/>
