SHOW ME:
<%- form_tag "/status_updates", :method => :get do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "SUBMIT" %>
<%- end %>

<table>
  <% @status_updates.each do |status_update| %>
    <tr>
      <td><%= image_tag status_update.image_url, :style => "height:48px;width:48px" %></td>
      <td><%= status_update.text %></td>
      <td><%= link_to status_update.twitter_name, "http://twitter.com/#{status_update.twitter_name}", :target => "_blank" %>
        <br/>
        <span style="font-size:10px">
          (originally <%= status_update.language_code %>)
        </span>
      </td>
      <td>
        <span style="font-size:10px">
          <%= link_to "#{time_ago_in_words(status_update.post_date)} ago", "http://twitter.com/#!/#{status_update.twitter_name}/status/#{status_update.twitter_guid}" %>
        </span>
      </td>
    </tr>
  <% end %>
</table>

<br/>
